.about {
  position: relative;
  padding-top: 35px;

  &::before {
    content: "";

    position: absolute;
    top: 0;
    left: 0;
    right: 0;

    width: 100%;
    height: 6px;

    background-image: url(../img/about/wave-gray.png);
  }
}
.about__title {
  margin-bottom: 87px;
}
.about__item {
  margin-bottom: 85px;
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 17px;
  color: #000;
}
////////////////////////////////////////////////////////
.about__item--flower {
  position: relative;
  width: 190px;
  &::before {
    content: "";

    position: absolute;
    top: -55px;
    left: 7px;

    width: 32px;
    height: 38px;

    background-image: url(../img/about/icon-1.png);
  }
}
.about__item--money{
  position: relative;
  width: 200px;
  &::before {
    content: "";

    position: absolute;
    top: -53px;
    left: 0;

    width: 47px;
    height: 27px;

    background-image: url(../img/about/icon-2.png);
  }
}
.about__item--heart {
  position: relative;
  width: 200px;
  &::before {
    content: "";

    position: absolute;
    top: -48px;
    left: 7px;

    width: 34px;
    height: 27px;

    background-image: url(../img/about/icon-3.png);
  }
}
.about__item--ball {
  position: relative;
  width: 230px;
  &::before {
    content: "";

    position: absolute;
    top: -51px;
    left: 3px;

    width: 35px;
    height: 34px;

    background-image: url(../img/about/icon-4.png);
  }
}
.about__item--rocket {
  position: relative;
  width: 260px;
  &::before {
    content: "";

    position: absolute;
    top: -50px;
    left: -6px;

    width: 55px;
    height: 23px;

    background-image: url(../img/about/icon-5.png);
  }
}
.about__item--gift {
  position: relative;
  width: 230px;
  margin-bottom: 0;
  &::before {
    content: "";

    position: absolute;
    top: -52px;
    left: 3px;

    width: 33px;
    height: 32px;

    background-image: url(../img/about/icon-6.png);
  }
}
////////////////////////////////////////////////////////
@media(min-width: 768px) {
  .about {
    padding-top: 62px;
    &::before {
      height: 17px;
      background-image: url(../img/about/wave-gray-tablet.png);
    }
  }
  .about__list {
    display: flex;
    flex-wrap: wrap;
  }
  .about__item {
    width: 50%;
    margin-bottom: 110px;
    font-size: 20px;
  }
  .about__title {
    margin-bottom: 100px;
  }
////////////////////////////////////////////////////////
  .about__item--flower {
    order: 1;
    padding-right: 120px;
    &::before {
      left: 10px;
      top: -52px;
    }
  }
  .about__item--money {
    order: 3;
    padding-right: 85px;
    &::before {
      top: -51px;
      left: 3px;
    }
  }
  .about__item--heart {
    order: 5;
    padding-right: 100px;
    &::before {
      top: -47px;
      left: 10px;
    }
  }
  .about__item--ball {
    order: 2;
    padding-right: 85px;
    &::before {
      top: -48px;
      left: 5px;
    }
  }
  .about__item--rocket {
    order: 4;
    padding-right: 0;
    &::before {
      top: -48px;
      left: -5px;
    }
  }
  .about__item--gift {
    order: 6;
    padding-right: 85px;
    &::before {
      top: -51px;
      left: 5px;
    }
  }
}
////////////////////////////////////////////////////////
@media(min-width: 1200px) {
  .about {
    padding-top: 70px;
    &::before {
      top: -10px;
      width: 1050px;
      height: 23px;
      margin: 0 auto;
      background-image: url(../img/about/wave-gray-desktop.png);
    }
  }
  .about__title {
    margin-left: 110px;
    margin-bottom: 100px;
  }
  .about .container {
    padding: 0 175px;
  }
  ////////////////////////////////////////////////////////
  .about__item--money {
    padding-right: 90px;
  }
  .about__item--heart {
    padding-right: 110px;
  }
}