.footer {
  background-color: #f1f1f1;
}
.footer .container {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  height: 150px;
}
.footer__logo {
  display: none;
}
.footer__social-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  padding-top: 10px;
  border-bottom: 1px solid #ededed;
  width: 142px;
}
.footer__social-item-i {
  width: 22px;
  height: 21px;

  background-image: url(../img/footer/insta.png);
}
.footer__social-item-f {
  width: 15px;
  height: 29px;

  background-image: url(../img/footer/fb.png);
}
.footer__social-item-t {
  width: 24px;
  height: 20px;

  background-image: url(../img/footer/twitter.png);
}
.footer__copyright {
  height: 80px;
  padding-top: 25px;
  padding-bottom: 25px;
  text-align: center;
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 18px;
  color: #000;
  text-transform: uppercase;
}
.footer__copyright-link {
  text-decoration: none;
  color: #63d1bb;
}
////////////////////////////////////////////////////////
@media(min-width: 768px) {
 
  .footer .container {
    flex-direction: row;
    padding-bottom: 15px;
  }
  .footer__logo {
    width: 102px;
    height: 34px;
    display: block;
  }
  .footer__copyright {
    text-align: right;
  }
  .footer__social-list {
    border: none;
    margin-left: 113px;
  }
}
////////////////////////////////////////////////////////
@media(min-width: 1200px) {
  .footer__logo {
    margin-left: -5px;
  }
  .footer__social-list {
    margin-left: 100px;
  }
}
////////////////////////////////////////////////////////
//hover, focus, active 

.footer__social-item-i:hover,
.footer__social-item-i:focus {
  background-image: url(../img/footer/insta-green.png);
}
.footer__social-item-f:hover,
.footer__social-item-f:focus {
  background-image: url(../img/footer/fb-green.png);
  background-repeat: no-repeat;
}
.footer__social-item-t:hover,
.footer__social-item-t:focus {
  background-image: url(../img/footer/twitter-green.png);
}
.footer__social-item-i:active,
.footer__social-item-f:active,
.footer__social-item-t:active {
  opacity: .3;
}

.footer__copyright-link:hover  {
  letter-spacing: 3.65px;
}
.footer__copyright-link:active {
  opacity: .3; 
}