.recall {
  padding-top: 59px;
  padding-bottom: 45px;
}
.recall__title {
  margin-bottom: 24px;
}
.recall__text {
  margin-bottom: 20px;
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  font-size: 15px;
  color: #444;
  line-height: 30px;
}
.recall__author {
  margin-bottom: 35px;
}
.recall__author-name {
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  font-size: 17px;
  line-height: 38px;
}
.recall__author-social {
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  font-size: 17px;
  color: #444444;
}
.recall__arrows {
  display: flex;
  margin-bottom: 40px;
}
.recall__arrow--prev,
.recall__arrow--next {
  position: relative;
  width: 50%;
  height: 50px;
  background-color: transparent;
  border: 1px solid #f9f9f9;
  &::before {
    content: "";

    position: absolute;
    left: 37px;
    top: 12px;

    width: 50px;
    height: 26px;
  }
}
.recall__arrow--prev::before {
  background-image: url(../img/recall/arrow.png);
}
.recall__arrow--next::before {
  background-image: url(../img/recall/arrow.png);
  transform: rotateZ(180deg);
}
.recall__button {
  width: 100%;
}
////////////////////////////////////////////////////////
@media(min-width: 768px) {
  .recall {
    position: relative;
    padding-bottom: 50px;
    padding-top: 50px;
    &::before {
      content: "";

      position: absolute;
      left: 0;
      top: -27px;
      z-index: -1;

      width: 350px;
      height: 457px;

      background-image: url(../img/recall/recall-bg-tablet.jpg);
    }
  }
  .recall .container {
    position: relative;
    
  }
  .recall__title {
    margin-bottom: 50px;
    margin-left: -3px;
  }
  .recall__text {
    font-size: 17px;
    margin-bottom: 50px;
  }
  .recall__author {
    line-height: 28px;
  }
  .recall__author-name {
    font-size: 18px;
  }
  .recall__arrows {
    position: absolute;
    right: 5px;
    bottom: -10px;
    width: 167px;
    height: 26px;
  }
  .recall__arrow--prev,
  .recall__arrow--next {
    border: transparent;
    &::before {
      left: 17px;
      top: 11px;
    }
  }
  .recall__button {
    position: absolute;
    top: 3px;
    right: 0;
    width: 175px;
  }
}
////////////////////////////////////////////////////////
@media(min-width: 1200px) {
  .recall {
    background-position: 100px;
    padding-top: 45px;
    padding-bottom: 100px;
    &::before {
      display: none;
    }
  }
  .recall .container {
    padding-left: 175px;
    &::after {
      content: "";

      position: absolute;
      left: 0;
      top: -68px;
      z-index: -1;

      width: 350px;
      height: 457px;

      background-image: url(../img/recall/recall-bg-tablet.jpg);
    }
  }
  .recall__text {
    margin-bottom: 29px;
    width: 770px;
  }
  .recall__button {
    top: 10px;
  }
  .recall__author-name {
    font-size: 17px;
  }
}
////////////////////////////////////////////////////////
.recall__arrow--prev, 
.recall__arrow--next {
  &:hover,
  &:focus {
    opacity: .6;
    cursor: pointer;
    outline: none;
  }
  &:active {
    opacity: .3;
  }
}