.slogan {
  display: flex;
  flex-direction: column;
  min-height: 488px;
  padding-top: 68px;

  text-align: center;
  background-color: #fafafa;
  background-image: url(../img/main-slogan/slogan-mobile.jpg);
  background-size: 320px 373px;
  background-position: 50% -17px;
  background-repeat: no-repeat;
}

.slogan__product-type {
  margin-top: auto;
}
.slogan__title {
  font-size: 27px;
}
////////////////////////////////////////////////////////
.product-type {
  display: flex;
  flex-direction: column;
}

.product-type__item-interior,
.product-type__item-toys {
  display: flex;
  width: 100%;
  padding-left: 30px;
  min-height: 103px;
  justify-content: flex-start;
  align-items: center;
}
.product-type__text {
  width: 45%;
  margin-top: -3px;

  text-align: left;
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 19px;
  line-height: 24px;
  color: #fff;
}
.product-type__item-interior{
  position: relative;
  background-color: #63d1bb;
  &::after {
    content: "";

    position: absolute;
    right: 36px;
    top: 23px;

    width: 41px;
    height: 62px;

    background-image: url(../img/main-slogan/slogan-interior.png);
  }
}
.product-type__item-toys {
  position: relative;
  background-color: #56c3b2;
  &::after {
    content: "";

    position: absolute;
    right: 27px;
    top: 20px;

    width: 60px;
    height: 61px;

    background-image: url(../img/main-slogan/slogan-toys.png);
  }
}
////////////////////////////////////////////////////////
@media(min-width: 768px) {
  .slogan {
    min-height: 630px;
    padding-top: 153px;

    background-image: url(../img/main-slogan/slogan-tablet.jpg);
    background-size: contain;
    background-position: 50% 0;
    background-repeat: no-repeat;
  }
  
////////////////////////////////////////////////////////
  .product-type {
    flex-direction: row;
    width: 100%;
    max-width: 668px;
    margin: 374px auto 0;
  }
  .product-type__item-interior,
  .product-type__item-toys {
    height: 120px;
    width: 50%;
  }
  .product-type__text {
    width: 130px;
    font-size: 20px;
    line-height: 30px;
  }
  .product-type__item-interior{
   padding-left: 35px;

    &::after {
      right: 36px;
      top: 30px;
    }
  }
  .product-type__item-toys {
    padding-left: 35px;

    &::after {
      right: 34px;
      top: 31px;
    }
  }
}
////////////////////////////////////////////////////////
@media(min-width: 1200px) {
  .slogan {
    padding-top: 150px;
    background-size: contain;
  }
  ////////////////////////////////////////////////////////
  .product-type {
    max-width: 1050px;
    margin-top: 355px;
  }
  .product-type__item-interior,
  .product-type__item-toys {
    min-width: 50%;
  }
}